assets/timer_16.png filter=lfs diff=lfs merge=lfs -text
assets/key_press_16.png filter=lfs diff=lfs merge=lfs -text
assets/key_release_100.png filter=lfs diff=lfs merge=lfs -text
assets/key_release_16.png filter=lfs diff=lfs merge=lfs -text
